<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rmgtug.scrumpoker"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="13"  />
    <application 
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Black.NoTitleBar"> 	

        <activity
            android:label="@string/app_name"
            android:name=".ServerClientSelectActivityList" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".AndroidScrumPokerActivity" />
        <activity android:name=".ClientAndroidScrumPokerActivity" />
        
        <service android:name="com.rmgtug.scrumpoker.service.ASPBroadcastService" />
    </application>
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>